/__init__.cpython-37.pyc
/__init__.cpython-36.pyc
/preferences.cpython-36.pyc
/preferences.cpython-37.pyc
/recordSignal.cpython-36.pyc
/recordSignal.cpython-37.pyc
/resources.cpython-36.pyc
/resources.cpython-37.pyc
/MainWindow.cpython-36.pyc
/MainWindow.cpython-37.pyc
/global_settings.cpython-36.pyc
/global_settings.cpython-37.pyc
/matplotlibWidget.cpython-36.pyc
/matplotlibWidget.cpython-37.pyc
